body { /* http://lea.verou.me/css3patterns/#lined-paper */
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 2em;
}

h1, h3 {
	font-family: 'gochi Hand', cursive;
	text-align: center;
	font-weight: 700;
}

#t3 {
	margin-top: 20px;
	background-color: #CCC;
	border-radius: 8px;
}
#t3 .form-control {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 24px;
}

#alert {
	text-align: right;
	padding: 8px;
	margin-top: 12px;z
}

#alert-text {
	padding-top:7px;
}